{% extends 'portfolio/base.html' %}

{% block content %}
	<div class="row p-1 alert alert-dark">
	    <div class="col-md-5">
			<h3>Состав проекта portfolio:</h3>	
			<br />	<br />	
			Объем - 2.03 мб<br />
			папок - 20<br />
			файлов - 61<br />
			Шаблонов - 5<br />
			Строчек кода Python - 240<br />		
			Строчек кода HTML  - 135<br />	
			Трудоемкость, часов  - 12<br />				
			<br /><br />	
		</div>
	    <div class="col-md-2">
		</div>			
	    <div class="col-md-5">
			Автор проекта Анатолий<br /><br />	
			<img src="/static/portfolio/SquareBlonde.jpg" width="300">
		</div>			
	</div>
{% endblock %}